/**
 * The base styling for the app, basically a reset.
 * Uses colors and rules based on Material design.
 */


@import 'colors'


body
    background-color: $color-background-backdrop
    color: $color-dark-secondary
    font-size: 14px
    font-family: Roboto, sans-serif


@for $i from 1 through 6
    h#{$i}
        color: $color-dark-primary


a
    text-decoration: none
    color: $color-yellow-darken

    &:hover,
    &:focus,
    &:active
        text-decoration: underline

code,
pre,
tt
    font-family: 'Roboto Mono', monospace
