/**
 * This is the color palette for the app. The file contains all color
 * variables that are not specific to a component.
 *
 * https://coolors.co/17183b-262322-712f79-7b7554-eff1f3
 */


/**
 * The color palette.
 */
$color-black: #17183b
$color-black-darken: darken($color-black, 10%)
$color-gray: #262322
$color-gray-darken: darken($color-gray, 10%)
$color-white: #eff1f3
$color-white-darken: darken($color-white, 10%)

$color-purple: #712F79
$color-purple-darken: darken $color-purple, 10%
$color-yellow: #7B7554
$color-yellow-darken: darken $color-yellow, 10%


/**
 * Base colors.
 */
$color-background: $color-white
$color-text: $color-black
$color-header: $color-gray
$color-link: $color-yellow-darken
$color-link-hover: $color-yellow
